@import './components/header';
@import './components/portfolio';
@import './components/cards';
@import './components/footer';
@import './components/nav';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  // padding-top: 250;
  text-align: center;
  color: #222;
  background: #f7f5f0;
  font-family: Lato, Arial, Helvetica, sans-serif;
}

.main {
  padding: 110px 50px 50px;
}

// #home {
//   // background-image: url(/img/abstract-code.jpg);
//   background-size: cover;
//   margin: 0;
//   width: 100%;
// }

#experience {
  padding-top: 25px;
}

/* Styles for larger screens */

@media screen and (min-width: 720px) {

  .flex {
      display: flex;
      max-width: 1200px;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 450px;
  }

  .nav {
    max-width: 1200px;
    color: #0399ff;
  }

  .nav .name {
    display: block;
    margin-right: auto;
    color: white;
  }

  main {
    padding-top: 50px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}