@import './components/header';
@import './components/portfolio';
@import './components/sections';
@import './components/cards';
@import './components/buttons';
@import './components/footer';
@import './components/nav';

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  color: #222;
  background: #f7f5f0;
  font-family: Lato, Arial, Helvetica, sans-serif;
}

.main {
  padding: 110px 50px 50px;
}

hr {
  color: #ccc;
  width: 85%;
  margin-top: 25px;
}

/* Styles for larger screens */

@media screen and (min-width: 720px) {

  .flex {
      display: flex;
      max-width: 1200px;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 450px;
  }

  .nav {
    max-width: 1200px;
    color: #0399ff;
  }

  .nav .name {
    display: block;
    margin-right: auto;
    color: white;
  }

  main {
    padding-top: 50px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}