.card {
  width: 90%;
  margin: 15px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
}

.card:hover {
  border-color: plum;
}

.card li a {
  color: #0399ff;
}

.card li a:hover {
  color: #6633ee;
}

.experience-card {
  margin: 15px;
  padding: 20px 40px 40px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
}

.experience-card:hover {
  border-color: plum;
}

.blog-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-link {
  padding: 0 25px;
}

/* Skills */

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: palevioletred;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: cadetblue;
}

.link {
  text-decoration: none;
}