
footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  margin: 10px auto 0 auto;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

.social-links li a {
  text-decoration: none;
}

.social-links li a:hover {
  color: palevioletred;
}

a.social {
  display: inline-block;
  margin: auto;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .5;
  transition: all .25s;
}
a.twitter {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/personal-site-128be.appspot.com/o/twitter.svg?alt=media&token=3d19b884-0b50-404f-89b6-ecd69f5c63d2);
}
a.linkedin {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/personal-site-128be.appspot.com/o/linkedin.svg?alt=media&token=66dd8ab1-8f7c-48c8-856a-a856cb60cbcf);
}
a.github {
  background-image: url(https://firebasestorage.googleapis.com/v0/b/personal-site-128be.appspot.com/o/github.svg?alt=media&token=974ee155-484a-4a5f-9d98-109930ddf1fb);
}
a.social:hover {
  opacity: 1;
}