/* navbar styles */
#navbar {
  background-color: palegreen;
  letter-spacing: 2.5px;
  margin: 0;
  box-shadow: 0 2px 3px rgba(0,0,0,.4);
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#navbar a {
  display: inline;
  text-align: center;
  padding: 15px 100px;
  text-decoration: none;
  font-size: 17px;
  color: black;
}

#nav-mobile {
  list-style-type: none;
}

#nav-mobile:hover {
  color: papayawhip;
}

nav li {
  display: inline;
}

.nav li {
  padding: 5px 10px 10px 10px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

/* Section Styles */

nav {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav li {
  padding: 5px 10px 10px 10px;
}

.nav a {
  transition: all .5s;
  color: tomato;
}

.nav a:hover {
  color: white
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {

  .nav {
    max-width: 1200px;
    color: #0399ff;
  }

  .nav .name {
    display: block;
    margin-right: auto;
    color: white;
  }

}

