#portfolio-items li a{
  color: white;
  text-decoration: none;
}

#portfolio-items li a:hover {
  color: powderblue;
}

ul.portfolio {
  padding: 0;
  text-align: center;
}

.portfolio li {
  border-radius: 6px;
  background: palevioletred;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.portfolio li a {
  color: white;
}

.portfolio li:nth-child(odd) {
  background: cornflowerblue;
}