header {
  height: 300px;
  padding-top: 50px;
  text-align: center;
  background: url("/img/CITYSCAPE-94.png") no-repeat top center;
  background-size: cover;
  padding-top: 60px; }

header {
  line-height: 1.5;
  letter-spacing: 1.5px;
  color: white; }

#myname {
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue; }

#mytitle {
  text-shadow: 1px 1px 2px black, 0 0 25px lawngreen, 0 0 5px olivedrab; }

#mylocation {
  text-shadow: 1px 1px 2px black, 0 0 25px tomato, 0 0 5px maroon; }

header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid tomato;
  transition: all .5s; }

header .profile-image:hover {
  transform: scale(1.2) rotate(5deg); }

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  .flex {
    display: flex;
    max-width: 1200px;
    justify-content: space-around;
    margin: 0 auto; }
  header {
    min-height: 450px; } }

ul.portfolio {
  padding: 0;
  text-align: center; }

.portfolio li {
  border-radius: 6px;
  background: tomato;
  color: white;
  padding: 5px 10px;
  margin: 2px; }

.portfolio li a {
  color: white; }

.portfolio li:nth-child(odd) {
  background: #0399ff; }

.card {
  width: 90%;
  margin: 15px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px; }

.card:hover {
  border-color: #0399ff; }

.card li a {
  color: #0399ff; }

.card li a:hover {
  color: #6633ee; }

.blog-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

/* Skills */
ul.skills {
  padding: 0;
  text-align: center; }

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: tomato;
  color: white;
  padding: 5px 10px;
  margin: 2px; }

.skills li:nth-child(odd) {
  background: #0399ff; }

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px; }

footer .copyright {
  top: -8px;
  margin: 10px auto 0 auto;
  font-size: .75em; }

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

footer ul li {
  display: inline-block; }

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin: auto;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .5;
  transition: all .25s; }

a.twitter {
  background-image: url(/img/twitter.svg); }

a.linkedin {
  background-image: url(/img/linkedin.svg); }

a.github {
  background-image: url(/img/github.svg); }

a.social:hover {
  opacity: 1; }

/* navbar styles */
#navbar {
  background-color: transparent;
  background: transparent;
  border-color: transparent;
  letter-spacing: 2.5px; }

nav {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0 auto;
  padding: 0; }

.main-nav {
  background: #fff;
  height: 80px;
  z-index: 150;
  margin-bottom: -80px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4); }

.main-nav-scrolled, header {
  position: fixed;
  top: 0;
  width: 100%; }

#nav-mobile {
  list-style-type: none; }

#nav-mobile:hover {
  color: papayawhip; }

nav li {
  display: inline; }

li a {
  text-decoration: none;
  color: black;
  padding: 15px 100px; }

li a:hover {
  color: paleturquoise; }

.nav li {
  padding: 5px 10px 10px 10px; }

.nav a {
  transition: all .5s;
  color: #0399ff; }

.nav a:hover {
  color: white; }

/* Section Styles */
nav {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0 auto;
  padding: 0; }

.nav li {
  padding: 5px 10px 10px 10px; }

.nav a {
  transition: all .5s;
  color: tomato; }

.nav a:hover {
  color: white; }

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  .nav {
    max-width: 1200px;
    color: #0399ff; }
  .nav .name {
    display: block;
    margin-right: auto;
    color: white; } }

* {
  box-sizing: border-box;
  font-family: Oswald, Arial, Helvetica, sans-serif; }

body {
  margin: 0;
  padding-top: 250;
  text-align: center;
  color: #222;
  background: #f7f5f0; }

.main-nav,
.main {
  position: relative; }

.main {
  background: #f2f2e8; }

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  .flex {
    display: flex;
    max-width: 1200px;
    justify-content: space-around;
    margin: 0 auto; }
  header {
    min-height: 450px; }
  .nav {
    max-width: 1200px;
    color: #0399ff; }
  .nav .name {
    display: block;
    margin-right: auto;
    color: white; }
  main {
    padding-top: 50px; }
  main p {
    line-height: 1.6em; }
  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto; } }
