/* Styles for Headers */
header {
  height: 600px;
  text-align: center;
  background-image: url(/img/CITYSCAPE-94.png);
  background-size: cover; }

header {
  line-height: 1.5;
  letter-spacing: 1.5px;
  color: white; }

#main-header {
  padding-top: 150px; }

#myname {
  margin: 0;
  padding-top: 25px;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue; }

#mytitle {
  text-shadow: 1px 1px 2px black, 0 0 25px lawngreen, 0 0 5px olivedrab; }

#mylocation {
  text-shadow: 1px 1px 2px black, 0 0 25px tomato, 0 0 5px maroon; }

header .profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid cadetblue;
  transition: all .5s; }

header .profile-image:hover {
  transform: scale(1.2) rotate(5deg); }

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  .flex {
    display: flex;
    max-width: 1200px;
    justify-content: space-around;
    margin: 0 auto; }
  header {
    min-height: 450px; } }

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left; }
  .header-right {
    float: none; } }

#portfolio-items li a {
  color: white;
  text-decoration: none; }

#portfolio-items li a:hover {
  color: powderblue; }

ul.portfolio {
  padding: 0;
  text-align: center; }

.portfolio li {
  border-radius: 6px;
  background: palevioletred;
  color: white;
  padding: 5px 10px;
  margin: 2px; }

.portfolio li a {
  color: white; }

.portfolio li:nth-child(odd) {
  background: cadetblue; }

#home {
  margin-top: 80px;
  background-image: url(/img/abstract-code.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

#home, #experience, #projects, #blog, #contact {
  height: 100%;
  width: 100%;
  padding-bottom: 25px; }

#experience {
  padding-top: 25px; }

#contact {
  margin-top: 25px; }

.tag {
  padding-top: 100px;
  margin-bottom: 0; }

.project-image {
  object-fit: cover;
  width: 150px;
  height: 150px;
  border-radius: 25%;
  border: 3px solid plum;
  transition: all .5s;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.project-header {
  text-align: center; }

.tech {
  margin-bottom: 25px; }

.card {
  width: 90%;
  margin: 15px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px; }

.card:hover {
  border-color: plum; }

.card li a {
  color: #0399ff; }

.card li a:hover {
  color: #6633ee; }

.experience-card {
  margin: 15px;
  padding: 20px 40px 40px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px; }

.experience-card:hover {
  border-color: plum; }

.blog-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.project-link {
  padding: 0 25px; }

/* Skills */
ul.skills {
  padding: 0;
  text-align: center; }

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: palevioletred;
  color: white;
  padding: 5px 10px;
  margin: 2px; }

.skills li:nth-child(odd) {
  background: cadetblue; }

.link {
  text-decoration: none; }

.action-button {
  position: relative;
  padding: 10px 40px;
  margin: 25px 15px;
  border-radius: 10px;
  font-size: 25px;
  color: #FFF;
  text-decoration: none;
  z-index: 1; }

.animate {
  transition: all 0.1s;
  -webkit-transition: all 0.1s; }

.blue {
  background-color: #3498DB;
  border-bottom: 5px solid #2980B9;
  text-shadow: 0px -2px #2980B9; }

.red {
  background-color: #E74C3C;
  border-bottom: 5px solid #BD3E31;
  text-shadow: 0px -2px #BD3E31; }

.action-button:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  border-bottom: 1px solid; }

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px; }

footer .copyright {
  top: -8px;
  margin: 10px auto 0 auto;
  font-size: .75em; }

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

footer ul li {
  display: inline-block; }

a.social {
  display: inline-block;
  margin: auto;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .5;
  transition: all .25s; }

a.twitter {
  background-image: url(/img/twitter.svg); }

a.linkedin {
  background-image: url(/img/linkedin.svg); }

a.github {
  background-image: url(/img/github.svg); }

a.social:hover {
  opacity: 1; }

/* navbar styles */
#navbar {
  background-color: palevioletred;
  letter-spacing: 2.5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: -80px; }

nav {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  z-index: 2; }

.navbar a {
  display: inline;
  text-align: center;
  padding: 50px;
  text-decoration: none;
  font-size: 17px;
  color: papayawhip; }

.navbar a:hover {
  color: papayawhip; }

#nav-mobile {
  list-style-type: none; }

#nav-mobile:hover {
  color: papayawhip; }

nav li {
  display: inline; }

.nav li {
  padding: 5px 10px 10px 10px; }

.sticky {
  position: fixed;
  top: 0;
  width: 100%; }

.sticky + .content {
  padding-top: 60px; }

.active {
  color: papayawhip;
  background-color: pink; }

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  .nav {
    max-width: 1200px;
    color: #0399ff; }
  .nav .name {
    display: block;
    margin-right: auto;
    color: white; } }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

body {
  margin: 0;
  text-align: center;
  color: #222;
  background: #f7f5f0;
  font-family: Lato, Arial, Helvetica, sans-serif; }

.main {
  padding: 110px 50px 50px; }

hr {
  color: #ccc;
  width: 85%;
  margin-top: 25px; }

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  .flex {
    display: flex;
    max-width: 1200px;
    justify-content: space-around;
    margin: 0 auto; }
  header {
    min-height: 450px; }
  .nav {
    max-width: 1200px;
    color: #0399ff; }
  .nav .name {
    display: block;
    margin-right: auto;
    color: white; }
  main {
    padding-top: 50px; }
  main p {
    line-height: 1.6em; }
  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto; } }
